{% extends 'base.html.twig' %}

{% set title = "Invox | 'Cordonnées de l\'entreprise' " %}

{% block content %}
    <h1>Edit CompanyDetails</h1>
    <div class="flex bg-white-font rounded-lg">
        {{ form_start(companyDetailsForm, {'attr': {'class': 'w-full h-full'}}) }}
        <div class="flex w-full justify-around p-2">
            <div class="grid grid-cols-3 gap-5">
                <div class="flex flex-col gap-y-8">
                    {{ form_row(companyDetailsForm.company_logo) }}
                    {{ form_row(companyDetailsForm.company_name) }}
                    {{ form_row(companyDetailsForm.company_email) }}
                    {{ form_row(companyDetailsForm.siret_number) }}
                </div>
                <div class="flex flex-col gap-y-8">
                    {{ form_row(companyDetailsForm.vat_number) }}
                    {{ form_row(companyDetailsForm.legal_status) }}
                    {{ form_row(companyDetailsForm.rcs) }}
                    <div class="flex flex-col gap-y-2">
                        {{ form_row(companyDetailsForm.default_vat) }}
                        {{ form_row(companyDetailsForm.vat_exempt) }}
                    </div>
                </div>
                <div class="flex flex-col gap-y-8">
                    {{ form_row(companyDetailsForm.country) }}
                    {{ form_row(companyDetailsForm.address) }}
                    {{ form_row(companyDetailsForm.postal_code) }}
                    {{ form_row(companyDetailsForm.city) }}
                    {{ form_row(companyDetailsForm.website) }}
                    {{ form_end(companyDetailsForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
