{% extends '../../base.html.twig' %}

{% block title %}CompanyDetails{% endblock %}

{% block body %}
    <h1>CompanyDetails</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ company_detail.id }}</td>
        </tr>
        <tr>
            <th>Company_logo</th>
            <td>{{ company_detail.companyLogo }}</td>
        </tr>
        <tr>
            <th>Company_name</th>
            <td>{{ company_detail.companyName }}</td>
        </tr>
        <tr>
            <th>Company_email</th>
            <td>{{ company_detail.companyEmail }}</td>
        </tr>
        <tr>
            <th>Siret_number</th>
            <td>{{ company_detail.siretNumber }}</td>
        </tr>
        <tr>
            <th>Vat_number</th>
            <td>{{ company_detail.vatNumber }}</td>
        </tr>
        <tr>
            <th>Vat_exempt</th>
            <td>{{ company_detail.vatExempt ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Legal_status</th>
            <td>{{ company_detail.legalStatus }}</td>
        </tr>
        <tr>
            <th>Rcs</th>
            <td>{{ company_detail.rcs }}</td>
        </tr>
        <tr>
            <th>Default_vat</th>
            <td>{{ company_detail.defaultVat }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ company_detail.country }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ company_detail.address }}</td>
        </tr>
        <tr>
            <th>Postal_code</th>
            <td>{{ company_detail.postalCode }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ company_detail.city }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ company_detail.website }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_details_index') }}">back to list</a>

    <a href="{{ path('app_company_details_edit', {'id': company_detail.id}) }}">edit</a>

    {{ include('company_details/_delete_form.html.twig') }}
{% endblock %}
