<button 
    type="button" 
    class="{{styles}} text-gray-900 bg-bg-white border border-gray-300 focus:outline-none hover:bg-pr-blue hover:text-white focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-dark-pr-blue dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    data-action="{{action}}"
    data-action-name="{{actionName}}"
    @click="{{js}}" 
    >
    {% block content %}
        <a href="{{path}}">{{content}}</a>
    {% endblock content %}
</button>