<div class="mx-auto w-full">
  <label
    for="{{ name }}"
    class="text-md mb-2 block font-medium text-bg-black"
    >{{ label }}</label
  >
  <input
    type="{{ type }}"
    name="{{ name }}"
    class="text-md block w-full rounded-lg border border-pr-grey p-3.5 text-sd-blue focus:border-pr-blue focus:ring-pr-blue"
    placeholder="{{ placeholder }}"
    required
  />
</div>
