<div {{ attributes }}>
    <form data-action="live#action" data-action-name="prevent|saveInvoice">
        {# {% if invoice.taxe != 0 %}
            {% set total = this.subTotal + this.subTotal * (invoice.taxe / 100)  %}    
            {% else %}
            {% set total = this.subTotal %}
        {% endif %} #}
{#         <div class="mb-3">
            <label for="customer-name">Nom du client:</label>
            <input
                    type="text"
                    data-model="invoice.customerName"
                    class="form-control {{ _errors.has('invoice.customerName') ? 'is-invalid' }}"
                    id="customer-name"
            >
            {% if _errors.has('invoice.customerName') %}
                <div class="invalid-feedback">
                    {{ _errors.get('invoice.customerName') }}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="customer-email">E-mail de facturation:</label>
            <input
                    type="email"
                    data-model="invoice.customerEmail"
                    class="form-control {{ _errors.has('invoice.customerEmail') ? 'is-invalid' }}"
                    id="customer-email"
            >
            {% if _errors.has('invoice.customerEmail') %}
                <div class="invalid-feedback">
                    {{ _errors.get('invoice.customerEmail') }}
                </div>
            {% endif %}
        </div> #}

        <div>
            <label for="invoice_status">Statut:</label>
            <select id="invoice_status" x-model="invoice.status" data-model="invoice.status">
                {% for key, value in invoice.getStatusChoices() %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
{# _____________________________________________________________ Tableau debut _____________________________________________________________ #}
        <div class="card">
            <div class="mt-6 mb-8 overflow-x-auto rounded-lg border-border-color border-border-width">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:bg-dark-pr-blue">
                    <thead class="rounded-bl-lg rounded-br-lg dark:bg-bg-hover-sidebar text-sm uppercase dark:text-white-font border-b-border-width border-border-color">
                    <tr>
                        <th scope="col" class="px-6 py-3 w-96 rounded-bl-lg">Description</th>
                        <th scope="col" class="px-6 py-3 w-40">Catégorie</th>
                        <th scope="col" class="px-6 py-3 w-40">Quantité</th>
                        <th scope="col" class="px-6 py-3 w-40">Prix</th>
                        <th scope="col" class="px-6 py-3 w-40 rounded-br-lg">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, line in lineItems %}
                        <twig:InvoiceCreatorLineItem
                                key="{{ key }}"
                                productId="{{ line.productId }}"
                                quantity="{{ line.quantity }}"
                                isEditing="{{ line.isEditing }}"
                        />
                    {% endfor %}
                    </tbody>
                </table>
                <twig:Button 
                    action="live#action"
                    actionName="addLineItem"
                    styles="mt-3"
                    >
                    + Ajouter un produit
                </twig:Button>
            </div>
        </div>

        <div class="flex justify-end">
            <div class="text-end w-60">
                <div class="flex justify-between">
                    <p class="text-[18px] text-gray-500">Remise :</p>
                    <h6 class="text-[18px]">10%</h6>
                </div>
                <div class="flex justify-between">
                    <p class="text-[18px] text-gray-500">Sous total :</p>
                    <h6 class="text-[18px]">{{ this.subtotal|format_currency('EUR') }}</h6>
                </div>
                <div class="flex justify-between">
                    <p class="text-[18px] text-gray-500">TVA :</th>
                    <h6 class="flex justify-content-end text-[18px]">
                        <div class="w-20 flex {{ _errors.has('invoice.taxe') ? 'is-invalid' }}">
                            <input
                                    type="number"
                                    data-model="invoice.taxe"
                                    class="form-control w-12"
                            >
                            <span class="input-group-text">%</span>
                        </div>
                        {% if _errors.has('invoice.taxe') %}
                            <div class="invalid-feedback">
                                {{ _errors.get('invoice.taxe') }}
                            </div>
                        {% endif %}
                    </h6>
                </div>
                <div class="flex justify-between">
                    <p class="text-[18px] text-gray-500">Total:</p>
                    <h6 class="text-[18px]">{{ this.total|format_currency('EUR') }}</h6>
                </div>
            </div>
        </div>

         <button
            class="btn btn-primary"
            {{ areAnyLineItemsEditing ? 'disabled' : '' }}
        >
            <span data-loading="action(saveInvoice)|show">
                {# Faire un spinner #}
            </span>
            {% if savedSuccessfully %}
                {# Faire un save success #}
            {% endif %}
            {% if saveFailed %}
                {# Faire un save failed #}
            {% endif %}
            <h3>Enregistrer</h3>
        </button>
        {% if saveFailed %}
            <small class="text-secondary">Check above for errors</small>
        {% endif %}
        {% if areAnyLineItemsEditing %}
            <small class="text-secondary">Save all line items before continuing.</small>
        {% endif %}
        </form> 
</div>



