<tr {{ attributes }}>
    <td class="pl-4">
        {% if isEditing %}
            <select
                    data-model="product"
                    class="form-control {{ _errors.has('product') ? 'is-invalid' }}"
            >
                <option value="" {{ not product ? 'selected' }}>Choisir un produit</option>
                {% for productOption in products %}
                    <option
                            value="{{ productOption.id }}"
                            {% if productOption == product %}selected{% endif %}
                    >
                        {{ productOption.name }} ({{ productOption.priceInCents|format_currency('USD') }})
                    </option>
                {% endfor %}
            </select>
            {% if _errors.has('product') %}
                <div class="invalid-feedback">
                    {{ _errors.get('product') }}
                </div>
            {% endif %}

        {% else %}
            {{ product.name }}
        {% endif %}
    </td>
    <td class="pl-4">
    {% if not isEditing %}
        {{ product.category }}
    {% endif %}
    </td>

    <td class="pl-4">
        {% if isEditing %}
            <input
                    type="number"
                    data-model="quantity"
                    aria-label="Quantity"
                    class="form-control {{ _errors.has('quantity') ? 'is-invalid' }}"
            >
            {% if _errors.has('quantity') %}
                <div class="invalid-feedback">
                    {{ _errors.get('quantity') }}
                </div>
            {% endif %}
        {% else %}
            {{ quantity }}
        {% endif %}
    </td>
    <td>
        {% if not isEditing %}
            {{ product.priceInCents|format_currency('USD') }}
        {% endif %}
    </td>
    <td class="text-end pr-4">
        {% if isEditing %}
            <twig:Button action="live#action" actionName="save" styles="mt-3">
                V
            </twig:Button>
        {% else %}
            <twig:Button action="live#action" actionName="edit" styles="mt-3" >
                Edit
            </twig:Button>
        {% endif %}

        <button
                data-action="live#emitUp"
                data-event="removeLineItem(key={{ key }})"
                class="ml-2"
                type="button"
        >
            X
        </button>
    </td>
</tr>