{# TEST THEME  #}
<div>
    <aside
            class="text-white-font sticky inset-y-0 z-10 h-screen w-64 flex-shrink-0 bg-pr-blue focus:outline-none dark:bg-dark-pr-blue"
    >
        <div class="flex h-full flex-col pt-6">
            <div class="px-10">
                <a href="{{ path("default_index") }}">
                    <img
                            class="w-full"
                            src="{{ asset('build/images/logo.svg') }}"
                            alt="Logo Invox"
                    />
                </a>
            </div>
            <!-- Sidebar links -->
            <nav
                    aria-label="Main"
                    class="flex-1 space-y-2 overflow-y-hidden px-3 py-8 hover:overflow-y-auto"
            >
                {% if app.request.attributes.get('_route') starts with "app_settings" %}
                    <span class="text-pr-grey text-md ml-6">Paramètres</span>
                    {% for headerItem in this.settingsHeaderItems %}
                        <twig:Item ul="{{ headerItem['name'] }}"
                                   linkUl="{{ headerItem['route'] }}">
                            {% block svg %}
                                {{ headerItem['icon'] | raw }}
                            {% endblock %}
                        </twig:Item>
                    {% endfor %}
                {% else %}
                    <span class="text-pr-grey text-md ml-6">MENU</span>
                    {% for headerItem in this.headerItems %}
                        <twig:Item icon="{{ asset(headerItem['icon']) }}" ul="{{ headerItem['name'] }}"
                                   linkUl="{{ headerItem['route'] }}">
                            {% block svg %}
                                {{ headerItem['icon'] | raw }}
                            {% endblock %}
                        </twig:Item>
                    {% endfor %}
                {% endif %}
            </nav>

            <!-- Sidebar footer -->
            <div
                    class="relative flex-shrink-0 items-center justify-center space-y-2 px-2 py-4"
            >
                {% if app.request.attributes.get('_route') starts with "app_settings" %}
                    {% for footerItem in this.settingsFooterItems %}
                        <twig:Item icon="{{ asset(footerItem['icon']) }}" ul="{{ footerItem['name'] }}"
                                   linkUl="{{ footerItem['route'] }}">
                            {% block svg %}
                                {{ footerItem['icon'] | raw }}
                            {% endblock %}
                        </twig:Item>
                    {% endfor %}
                {% else %}
                    {% for footerItem in this.footerItems %}
                        <twig:Item icon="{{ asset(footerItem['icon']) }}" ul="{{ footerItem['name'] }}"
                                   linkUl="{{ footerItem['route'] }}">
                            {% block svg %}
                                {{ footerItem['icon'] | raw }}
                            {% endblock %}
                        </twig:Item>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </aside>
</div>
