<div x-data="{src:'{{ asset('build/images/upload.png') }}'}" class="items-center w-full mb-4">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-20 h-20 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 {# dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 #}">
        <img :src="src" alt="" class="w-full rounded-lg">
        <input
            @change="src=URL.createObjectURL($event.target.files[0])"
            id="dropzone-file" 
            type="file" 
            class="hidden" />
    </label>
</div>

<twig:Button content="Upload"/>


{#<div x-data="{src:'https://media.istockphoto.com/id/1317771514/fr/photo/une-vue-vers-le-haut-dans-le-ciel-de-direction-darbres.jpg?s=1024x1024&w=is&k=20&c=FnYIVdtt3h0CPf0nSYXC-lKYAHHJZSnJ-UlrgiO8y_o='}" class="container">
    <div class="items-center w-full">
    <label for="single-file" class="form-label flex flex-col items-center justify-center w-60 h-60 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 {# dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 #}">
       {# <div class="flex flex-col items-center justify-center pt-5 pb-6">
           <img :src="src" alt="">
        </div>
        <input type="file" @change="src=URL.createObjectURL($event.target.files[0])"/>
    </label>
    </div> 

    <div class="form-text text-muted">Current file:
        
        <twig:Button content="Upload" dataAction="live#action" dataActionName="files|uploadFiles"/>
</div>


<div x-data="{src:'https://media.istockphoto.com/id/1317771514/fr/photo/une-vue-vers-le-haut-dans-le-ciel-de-direction-darbres.jpg?s=1024x1024&w=is&k=20&c=FnYIVdtt3h0CPf0nSYXC-lKYAHHJZSnJ-UlrgiO8y_o='}" class="container" {{ attributes }}>
    <div class="items-center w-full">
    <label for="single-file" class="form-label flex flex-col items-center justify-center w-60 h-60 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 {# dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 #}">
       {# <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG (MAX 240ko)</p>
        </div>
        <input 
            @change="src=URL.createObjectURL($event.target.files[0])"
            type="file"
            name="single"
            autocomplete="off"
            id="single-file"
            class="hidden form-control-file {{ singleFileUploadError ? 'is-invalid' : '' }}" 
            />
    </label>
    </div> 

    <div class="form-text text-muted">Current file:
        {% if singleUploadFilename %}
            {{ singleUploadFilename }}
        {% else %}
            Aucun fichier
        {% endif %}
        </div>
        {% if singleFileUploadError %}
            <div class="invalid-feedback">{{ singleFileUploadError }}</div>
        {% endif %}
        <twig:Button content="Upload" dataAction="live#action" dataActionName="files|uploadFiles"/>
</div>
#}

{# <div x-data="{src:'{{ asset('build/images/upload.png') }}'}" class="items-center w-full mb-4">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-40 h-40 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 {# dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600 ">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <img :src="src" alt="" class="w-12">
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400 text-center"><span class="font-semibold">Cliquer pour Télécharger</span> ou glissez déposer</p>
            <p class="text-sm text-gray-500 dark:text-gray-400">PNG, JPG (MAX 240ko)</p>
        </div>
        <input
            @change="src=URL.createObjectURL($event.target.files[0])"
            id="dropzone-file" 
            type="file" 
            class="hidden" />
    </label>
</div>  #}