{% extends 'base.html.twig' %}
{% set title = "Invox | Ajouter produit " %}
{% block content %}
    <div class="mb-3 text-black-font dark:text-white-font">
        <h1>Ajouter un produit</h1>
    </div>
    <div class="flex bg-white-font rounded-lg p-5 dark:bg-dark-pr-blue">
        {{ form_start(productForm, {'attr': {'class': 'w-full h-full'}}) }}
        <div class="flex w-full justify-around p-5">
            <div class="flex flex-col gap-y-8 w-1/2">
                {{ form_row(productForm.name) }}
                {{ form_row(productForm.price) }}
                {{ form_row(productForm.category) }}
                <div class="mt-6">
                    <twig:ButtonDarkDefault type="submit" text="Enregistrer"/>
                </div>
            </div>
        </div>
        {{ form_end(productForm) }}
    </div>
{% endblock content %}


