{% extends 'base.html.twig' %}
{% set title = "Invox | Modifier produit " %}
{% block content %}
    <div class="mb-3 text-black-font">
        <h1>Modifier produit</h1>
    </div>
    <div class="flex bg-white-font rounded-lg p-5">
        {{ form_start(ProductForm, {'attr': {'class': 'w-full h-full'}}) }}
        <div class="flex w-full justify-around p-5">
            <div class="flex flex-col gap-y-8 w-1/2">
                {{ form_row(ProductForm.name) }}
                {{ form_row(ProductForm.price) }}
                {{ form_row(ProductForm.category) }}
                <div class="mt-6">
                    <twig:ButtonDarkDefault type="submit" text="Enregistrer"/>
                </div>
            </div>
        </div>
        {{ form_end(ProductForm) }}
    </div>
{% endblock content %}


