{% extends "base.html.twig" %}

{% set title = "Dashboard" %}

{% block content %}
    <div class="flex justify-between" >
        <h1>Bonjour, Hamza !</h1>
        {{ form_start(DashboardForm) }}
        <div class="flex gap-8">
        {{ form_row(DashboardForm.start_date) }}
        {{ form_row(DashboardForm.end_date) }}
            </div>
        <button type="submit">Valider la période</button>
        {{ form_end(DashboardForm) }}

    </div>
    <div class="flex mt-16 justify-between" >
        <twig:CardDashboard src="{{ asset('build/images/devis.svg') }}" title="Nombre de devis" number="{{numberOfQuotations}}" />
        <twig:CardDashboard src="{{ asset('build/images/devis.svg') }}" title="Nombre de devis validé" number="{{numberOfValidQuotations}}" />
        <twig:CardDashboard src="{{ asset('build/images/factures.svg') }}" title="Nombre de facture" number="{{numberOfInvoices}}" />
        <twig:CardDashboard src="{{ asset('build/images/factures.svg') }}" title="Facture encaisées" number="{{numberOfPaidInvoices}}" />
    </div>
    <div class="flex mt-14 justify-between w-full">
        <div class="w-[39%]" >
            <div class="mb-6" >
                <twig:RectangleCardDashboard title="Nouveau clients" number="{{numberOfCustomers}}" stats="18,7%" />
            </div>
            <div>
                <twig:RectangleCardDashboard title="Facture en retard" number="{{numberOfLateInvoices}}" stats="18,7%" />
            </div>
        </div>
        <twig:ChartDashboard months="{{months}}" totals="{{totals}}" />
    </div>
{% endblock %}









