{% extends 'base.html.twig' %}

   {% set title = "Invox | Inscription " %}

   {% block body %}
       <main class="h-screen px-5 py-8 w-full ">
           <div class="border bg-bg-button h-full rounded-2xl">
               <div class="flex h-full justify-between">
                   <div class="flex items-center w-1/2 justify-center border-r-2 my-16">
                       <img src="{{ asset('build/images/logoAuthentication.png') }}" alt="logoInvox" height="450"
                            width="450">
                   </div>
                   <div class="flex justify-center w-1/2">
                       {{ form_start(registrationForm, {'attr': {'class': 'flex flex-col justify-center w-full h-full'}}) }}
                       <div class="flex flex-col justify-center gap-3 w-full px-20 h-5/6">
                           <h1 class="h1 mb-8 font-weight-bold text-bg-black">Créez votre compte, vous y êtes
                               presque.</h1>
                           {{ form_row(registrationForm.email) }}
                           {{ form_row(registrationForm.password) }}
                           {{ form_row(registrationForm.agreeTerms, {'label_attr' : { 'class' : 'underline'}}) }}
                           <input type="hidden" name="_csrf_token"
                                  value="{{ csrf_token('authenticate') }}"
                           >


                           <div class="flex flex-col place-content-between text-center h-4/6">
                               <div class="mt-3">
                                   <twig:ButtonDarkDefault type="submit" text="Se-connecter"/>

                                   <div class="mt-5">
                                       <twig:ButtonDarkGoogleIcon type="button" text="Se-connecter avec Google"
                                                                  icon="{{ asset('build/images/googleIcon.svg') }}"/>
                                   </div>
                               </div>
                               <h6 class="text-bg-black mt-1">Êtes-vous déjà inscrit ? <span
                                           class="font-bold text-pr-blue underline">Connectez-vous !</span></h6>
                               {{ form_end(registrationForm) }}
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </main>
   {% endblock %}
