{# CUSTOM MONEY INPUT #}
{% block money_widget %}
    <div class="relative">
        <div class="absolute inset-y-0 end-4 flex items-center ps-3.5 pointer-events-none">
            <!-- You can replace 'euroIcon.svg' with your actual Euro icon file -->
            <img src="{{ asset('build/images/euroIcon.svg') }}" alt="euro-icon">
        </div>
        <input type="text" {{ block('widget_attributes') }}
               class="border border-pr-grey text-sd-blue text-md rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5"
                {% if value is not empty %} value="{{ value }}" {% endif %}
               placeholder="{{ money_pattern|replace({ '{{ widget }}': '', '{{ currency_symbol }}': '€' }) }}"/>
    </div>
{% endblock money_widget %}


{# CUSTOM FORM LABEL #}
{%- block form_label -%}
    <label class="block mb-2 text-md font-medium text-bg-black" for="{{- id -}}">{{- label -}}</label>
{%- endblock form_label -%}

{# CUSTOM FORM ERRORS #}
{% block form_errors %}
    {%- if errors|length > 0 -%}
        <ul class="text-red-500 mt-2">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{% endblock form_errors %}

{# CUSTOM EMAIL INPUT #}
{% block email_widget %}
    <div class="relative">
        <div class="absolute inset-y-0 end-4 flex items-center ps-3.5 pointer-events-none">
            <img src="{{ asset('build/images/emailIcon.svg') }}" alt="email-icon">
        </div>
        <input type="email" {{ block('widget_attributes') }}
               class="border border-pr-grey text-sd-blue text-md rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5"
                {% if value is not empty %} value="{{ value }}" {% endif %} />
    </div>
{% endblock email_widget %}

{# CUSTOM PASSWORD INPUT #}
{% block password_widget %}
    <div class="relative">
        <div class="absolute inset-y-0 end-4 flex items-center ps-3.5 pointer-events-none">
            <img src="{{ asset('build/images/passwordIcon.svg') }}" alt="password-icon">
        </div>
        <input type="password" {{ block('widget_attributes') }}
               class="border border-pr-grey text-sd-blue text-md rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5 "
                {% if value is not empty %} value="{{ value }}" {% endif %} />
    </div>
{% endblock password_widget %}

{# CUSTOM NUMBER INPUT #}
{% block number_widget %}
    <input type="number" {{ block('widget_attributes') }}
           class="border border-pr-grey text-sd-blue text-md rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5 "
            {% if value is not empty %} value="{{ value }}" {% endif %} />
{% endblock number_widget %}

{# CUSTOM DATE INPUT #}
{% block date_widget %}
    <input type="date" {{ block('widget_attributes') }}
           class="border border-pr-grey text-sd-blue text-md rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5 "
            {% if value is not empty %} value="{{ value }}" {% endif %} />
{% endblock date_widget %}

{# CUSTOM TEXTAREA INPUT #}
{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}
              class="border border-pr-grey text-sd-blue text-md rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5 "
              rows="4"
                {% if value is not empty %} value="{{ value }}" {% endif %} ></textarea>
{% endblock textarea_widget %}

{# CUSTOM RADIO INPUT WITH CUSTOM LABEL #}
{% block radio_row %}
    <div class="flex items-center">
        <input type="radio" id="{{- id -}}" name="{{- full_name -}}"
               class="w-4 h-4 text-pr-blue bg-transparent border-pr-grey rounded"
                {% if value is not empty %} value="{{ value }}" {% endif %} >
        <label for="{{- id -}}" class="ms-2 text-sm font-medium text-bg-black">
            {{- label -}}</label>
    </div>
{% endblock radio_row %}

{# CUSTOM CHECKBOX INPUT WITH CUSTOM LABEL #}
{% block checkbox_row %}
    <div class="flex items-center">
        <input type="checkbox" id="{{- id -}}" name="{{- full_name -}}"
               class="w-4 h-4 text-pr-blue bg-transparent border-pr-grey rounded"
                {% if value is not empty %} value="{{ value }}" {% endif %} >
        <label for="{{- id -}}" class="ms-2 text-sm font-medium text-bg-black">
            {{- label -}}</label>
    </div>
{% endblock checkbox_row %}

{# CUSTOM AGREE_TERMS CHECKBOX INPUT WITH CUSTOM LABEL #}
{% block _user_profile_form_media_row %}
    <div x-data="{src:'{{ asset('build/images/upload.png') }}'}" class="items-center w-full mb-4">
        <input
                type="file"
                {{ block('widget_attributes') }}
                @change="src=URL.createObjectURL($event.target.files[0])"
                class="hidden"/>
        <img :src="src" alt="" class="w-full rounded-lg"/>
    </div>
{% endblock _user_profile_form_media_row %}
{# CUSTOM AGREE_TERMS CHECKBOX INPUT WITH CUSTOM LABEL #}
{% block _registration_form_agreeTerms_row %}
    <div class="flex items-center">
        <input type="checkbox" id="{{- id -}}" name="{{- full_name -}}"
               class="w-4 h-4 text-pr-blue bg-transparent border-pr-grey rounded">
        <label for="{{- id -}}" class=" underline ms-2 text-sm font-medium text-bg-black">
            {{- label -}}</label>
    </div>
{% endblock _registration_form_agreeTerms_row %}

{# CUSTOM SELECT INPUT #}
{% block select_widget %}
    <select {{ block('widget_attributes') }}
            class="bg-bg-white dark:bg-dark-pr-blue border border-pr-grey text-sd-blue text-lg rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5">
        {% if placeholder is defined %}
            <option value="">{{ placeholder }}</option>
        {% endif %}
    </select>
{% endblock select_widget %}

{# CUSTOM DEFAULT FROM ROW #}
{%- block form_row -%}
    <div class="w-full mx-auto">
        {{- form_label(form) -}}
        {{- form_widget(form, {'attr' : { 'class' : 'bg-bg-white dark:bg-dark-pr-blue border border-pr-grey text-sd-blue text-lg rounded-lg focus:ring-pr-blue focus:border-pr-blue block w-full p-3.5'}}) -}}
        <p class="text-red-500 font-weight-light">
            {{- form_errors(form) -}}
        </p>
    </div>
{%- endblock form_row -%}


