<div
  class="md:mt-0 mt-8 bg-bg-white dark:bg-dark-pr-blue border-border-width border-border-color h-60 md:w-[24%] w-full cursor-pointer rounded-xl"
>
<a href="{{ path }}">
  <div class="mx-8 mt-9">
    {# <img src="{{ src }}" alt="picto" /> #}
    <h2 class="mt-4">{{ picto }}</h2>
    <h2 class="mt-4">{{ number }}</h2>
    <h5 class="mt-4">{{ title }}</h5>
  </div>
</a>
</div>
