{% extends 'base.html.twig' %}
{% set title = "Invox | Ajouter client " %}
{% block content %}
    <div class="mb-3 text-black-font dark:text-white-font">
        <h1>Ajouter un client</h1>
    </div>
    <div class="flex bg-white-font rounded-lg p-5 dark:bg-dark-pr-blue">
        {{ form_start(CustomerForm, {'attr': {'class': 'w-full h-full'}}) }}
        <div class="flex w-full justify-around p-5">
            <div class="flex flex-col gap-y-8 w-1/2">
                {{ form_row(CustomerForm.firstName) }}
                {{ form_row(CustomerForm.lastName) }}
                {{ form_row(CustomerForm.email) }}
                {{ form_row(CustomerForm.address) }}
                <div class="mt-3">
                    <twig:ButtonDarkDefault type="submit" text="Enregistrer"/>
                </div>
            </div>
        </div>
        {{ form_end(CustomerForm) }}
    </div>
{% endblock content %}


