{% extends "base.html.twig" %}

{% set title = "Invox | Invoice" %}

{% block content %}

    <div class="flex justify-between" >
        <h1>Facture</h1>
    </div>
    {# <twig:DivLive /> #}
    {# {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }} #}
    <div class="flex justify-end mt-6 gap-2" >
        <twig:Button content="Créer une facture" path="invoice/new"/>
    </div>
    <div>
        <twig:Table modal="{{modal}}" thead1="Numéro" thead2="Client" thead3="Total TTC" thead4="Status" thead5="Crée le" thead6="Echeance" thead7="Action" pathEdit="app_invoice_edit" pathDelete="invoice_delete" data="{{data}}" invoiceItem="{{invoiceItem}}" products="{{products}}"/>
    </div>

    {% if app.session.flashbag.has('success') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Consomme le message flash et affiche la notification
                const message = "{{ app.session.flashbag.get('success')[0] }}";
                notyf.success("hfjezklfezj");
            });
        </script>
        {{ encore_entry_script_tags('notyf') }}
    {% endif %}

{% endblock %}